<div class="yellow-background">
  <h1>Agency: <%= @message.agency.name %></h1>
  <h1>Animal: <%= @message.animal.name %></h1>
  <h1>Subject: <%= @message.subject %></h1>
  <h1>Message: <%= @message.message %></h1>
</div>
